@tailwind base;
@tailwind components;
@tailwind utilities;

.shared-screen {
    /* display: flex;
    flex-direction: column; */
   /*  justify-content: center;
    align-items: center; */
    height: calc(100% - 400px)!;
   /*  width: 100%; */
}

.video-element {
    max-height: 100%;
    max-width: 100%;
   /*  width: auto;
    height: auto; */
}
